# Masukan APP ID ambil di web my.telegram.org
API_KEY = "14880787"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "f8d206302ccc597dd51d4ce7eef59a9f"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOKkBu2ouOch6_X84AboAh6ZsGrsBxUGr0wnqlJVhapJ3drRUDAYd640eclOpvEf7YxLhtjjDg7NdboFwG_pe9_Uuotn3tRl8pYN9CQ-3zopclbVqg1ttiyW8tiupa2btI-fhYKnxj3axq0Blz5dumya6w4hxtdDlBLHNWNWbdYomK4GchRgAap_Xu4wbAIOVoUFgR2dYzqIuTQ_NLdK2gEb3syzoQ8QfZputp4fS974KPrw0nBSrRIypAf8QVVKwBN0IvBCuZxr3W989EsrpIgZg2gWiYbhWULRdFzToEXuc7sYg_n4O2DigL3QaEH04FoTrqPjL3G2GfMEG7LZMgkvb-UU="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5529247578:AAFiSDGEvQA7kv6gPXXQmuIxtztOmmp2130"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001581088257 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://hrxdlonx:zvetv-21A9-ICWTKTXx76Ihs-f1Zq3RK@heffalump.db.elephantsql.com/hrxdlonx"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

