# Masukan APP ID ambil di web my.telegram.org
API_KEY = "14880787"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "f8d206302ccc597dd51d4ce7eef59a9f"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOLIBuwLfOWDszc0sawii2MS9mEAzKyiLnDdaotSiZqLUbvtXRnZejuFRpiGx175TXtYJya76WcxMix6JqMuOoHOhN3sBiWkmw9Fs6In4MyGMVyFD3em20tSfUUFHPud5ROmNEQFGqzYKxsQdR_tV8DMDprfWBXort7eZXltZa_OKHUdzS9nq1hw43QOONupGKoPJp1YTH3Y9Ny91MCn0IuRnFPgeU9ZmllBoIPT-JiS82yUeKx7_aj4Qw7dpDFU6P0dUgt47y7OkQqB6UqMamA4pQQDXagFuh0nRQWLXQrlHmQl06Yot6xLDwmquDc_CSjBaNUAu-RMiLBMGjb8s_uG7AoI="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5529247578:AAFiSDGEvQA7kv6gPXXQmuIxtztOmmp2130"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001581088257 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://hrxdlonx:zvetv-21A9-ICWTKTXx76Ihs-f1Zq3RK@heffalump.db.elephantsql.com/hrxdlonx"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

